header{
    background: url('img/pretoriscado.jpg');
}

#logo{
    width: 40%;
    margin: 15px;
}

#logo{
    width: 40%;
    margin: 15px;
}

nav{
    position: absolute;
    top: 93px;
    right: 320px;
}

nav li {
    display: inline;
    margin: 0 0 0 35px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{

    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: red;
}


footer{
    position: absolute;
    background: url('img/pretoriscado.jpg');
    bottom: 0px;
    width: 100%;
    height: 100px;
    text-align: center;
}

footer p{
    margin-top: 22px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}